version: "3"
services:
  php:
    build: ./php/
    volumes:
      - ./php/src:/var/www/html
    container_name: php
    tty: true
  nginx:
    build: ./web/
    volumes:
      - ./php/src:/var/www/html
    container_name: nginx
    ports:
      - 80:80
    depends_on:
      - php
  mysql:
    build: ./db/
    container_name: mysql
    volumes:
      - ./db/init.d:/docker-entrypoint-initdb.d
      - ./db/data:/var/lib/mysql
    environment: 
      MYSQL_ROOT_PASSWORD: root
      #MYSQL_USER: Delia
      #MYSQL_PASSWORD: docker
    ports:
      - 3306:3306
    depends_on:
      - nginx
  phpmyadmin:
    build: ./phpmyadmin/
    volumes:
      - ./phpmyadmin/sessions:/sessions
    container_name: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
    ports:
      - 10080:80
    depends_on:
      - mysql
 
    