version: "3"
services:
  node:
    build: ./node
    tty: true
    environment:
      - NODE_ENV=development
    volumes:
    - ./node/src:/usr/src/app
    container_name: node
    command: sh -c "cd my-app && npm start"
    ports:
    - "3000:3000"
  app:
    build: ./app/
    volumes:
      - ./app/src:/var/www/html
    container_name: app
    tty: true
  nginx:
    build: ./web/
    volumes:
      - ./app/src:/var/www/html
    container_name: nginx
    ports:
      - 80:80
      - 8080:8080
    depends_on:
      - app
  mysql:
    build: ./db/
    container_name: mysql
    volumes:
     - ./db/init.d:/docker-entrypoint-initdb.d
     - ./db/database:/var/lib/mysql
    environment: 
      MYSQL_ROOT_PASSWORD: root
    cap_add:
      - SYS_NICE
    ports:
      - 3306:3306
    depends_on:
      - nginx
  phpmyadmin:
    build: ./phpmyadmin/
    volumes:
      - ./phpmyadmin/sessions:/sessions
    container_name: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
    ports:
      - 10080:80
    depends_on:
      - mysql
 
    